// SECTION :: START

section#donations.donations
  .c-grid
    .donations__wrapper

      .roadmap__block
        h3.roadmap__block-title Previous donations

        ul.roadmap__box
          li
            p!= "pool date: <span>december 20th, 2021</span> | pool size: <span>10 eth</span>"
            p!= "recipient: <span>charity Name</span>"
          li
            p!= "pool date: <span>december 20th, 2021</span> | pool size: <span>10 eth</span>"
            p!= "recipient: <span>charity Name</span>"
          li
            p!= "pool date: <span>december 20th, 2021</span> | pool size: <span>10 eth</span>"
            p!= "recipient: <span>charity Name</span>"
          li
            p!= "pool date: <span>december 20th, 2021</span> | pool size: <span>10 eth</span>"
            p!= "recipient: <span>charity Name</span>"

// SECTION :: END
