// SECTION :: START

section#milestone.milestone
  .c-grid

    h2.milestone__title roadmap

    .milestone__wrapper

      h3.milestone__title Milestones

      ul.milestone__list

        li Deploy $GIV token’s Smart contract and dApp development
        li begin marketing
        li Begin Hosting discord and Telegram discussions / polls
        li Create partnerships with charities for giv’s first pool
        li!= "<span>Launch sale #1</span>"
        li launch 1st ever Giving pool via www.thegivingpool.io
        li distribute USDT rewards to holders a week after completion of 1st sale
        li deploy a structure for the Giving pool
        li find more charities to bring into the giving platform
        li!= "<span>Launch sale #2</span>"
        li begin hosting Q&A meets with local charities on discord
        li!= "<span>launch sale #3</span>"
        li Host Giveaways to token holders and community members
        li increase Value of the giving pool’s target to increase donations
        li!= "<span>launch sale #4-7</span>"
        li sponsor charities
        li develop the flow of operability for the giving platform
        li!= "<span>launch sale #8-10</span>"
        li begin future developments

      p.milestone__desc for details on giv’s inital sales:
      p.milestone__desc!= "<span>keep reading</span>"

      h3.milestone__title inital token deployment

      p.milestone__desc The giving platform will be hosting ten (10) initial launches of 125,000,000 Giv tokens. these tokens are to be the circulating supply for giv.

      p.milestone__desc By periodically raising funds from our limited sales, we will be able to:
      ul.milestone__list
        li better control the value of giv
        li implement a road for growth in both community and value.
        li deploy proper marketing

      p.milestone__desc detailed in the chart below, you will find the overview for each launch

      .milestone__table-scroll-wrapper
        .milestone__table-scroll
          img.milestone__table(src="img/img-milestone-1.png" srcset="img/img-milestone-1@2x.png 2x" alt="")

      p.milestone__desc The private sale for each period will run until the lot of GIV is fully sold or until each Limited Sale is closed.
      p.milestone__desc For any tokens that remain unsold, they will be allocated to the company and/or team for future fundraising.
      p.milestone__desc INITIAL LAUNCHED tokens are extremely limited  are available to select DATES/TIMES.
      p.milestone__desc AFTER THE 10 SALES HOSTED ON THE WEBSITE, GIV WILL ONLY BE AVAILABLE TO TRADE ON uniSWAP USING THE TOKEN CONTRACT ADDRESS.

      h3.milestone__title inital launch fees

      img(src="img/img-milestone-2.png" srcset="img/img-milestone-2@2x.png 2x" alt="")

      p.milestone__desc during the INITIAL 10 launches:
      p.milestone__desc each sale will include the original transactional fee mentioned in the tokenomics, along with an additional 5% Developers fee.
      p.milestone__desc the ETH collected from the developer fee will be used to sustain the project throughout launch and help fund future developments for the giving platform.
      p.milestone__desc After the Launches: the developer fee will terminate and the original Transactional tax will remain.

      h3.milestone__title!= "THE givING PLATFORM: <br>after lAUNCH"

      p.milestone__desc UPON COMPLETION OF THE INITAL sALES:

      ul.milestone__list
        li THE GIVING PLATFORM WILL BE ACTIVELY UP AND RUNNING
        li GIV’S SOCIAL MEDIA WILL BE THE FOUNDATION WHERE PEOPLE FROM ALL OVER RECOMMEND CHARITIES - WHERE ORGANIZATIONS CAN PROMOTE THEMSELVES
        li THE COMMUNITY WILL BE  ENGAGED IN SCOUTING / RANKING CHARITIES THROUGHOUT THE WORLD
        li THE GIVING POOL WILL HAVE ALREADY DONATED TO OVER A DOZEN CHARITIES AND WILL CONTINUE RECIEVING FUNDS AS PEOPLE TRADE GIV
        li TOKEN HOLDERS WILL CONTINUE RECIEVING REWARDS DIRECTLY DEPOSITED INTO THEIR WALLETS
        li GIVEAWAYS WILL BE HOSTED IN OUR DISCORD

      p.milestone__desc the giving team will always strive to bring decentralization to the world of charity.
      p.milestone__desc by creating a platform ran by our community, giv has created an equal opportunity for charities of all sizes and locations to receive donations and express their story.
      p.milestone__desc we encourage all to join our community of making a difference .
      p.milestone__desc we welcome you to the giving platform.



// SECTION :: END
