// SECTION :: START

section#platform.platform
  .c-grid
    .platform__wrapper
      .platform__wrapper-left

        h1.platform__title the giving platform

        .platform__section
          p The Giving Pool raises funding for  worthy and charitable foundations - handpicked by $GIV holders.
          p $GIV holders can connect their wallets to verify ownership of the $GIV Token. Token holders can participate in the “Pools” voting tally. When the pools “Target Value” is reached, the highest nominated will receive a donation of the pools balance.
          p Alongside participating in the voting tally, The $GIV Token rewards holders with USDT and enters them in a chance for giveaways.
          p Learn more about The GIV Platform and participate in the: Donation, Reward & Giveaway aspects – on our Discord & Social Media.

        ul.footer__social
          li
            a(href="#")
              img(src="img/discord.svg" alt="")
          li
            a(href="#")
              img(src="img/telegram.svg" alt="")
          li
            a(href="#")
              img(src="img/twitter.svg" alt="")
          li
            a(href="#")
              img(src="img/instagram.png" srcset="img/instagram@2x.png 2x" alt="")

      .platform__wrapper-right

        .roadmap__block
          h1.roadmap__block-title!= "The Giving <br>Pool"

          .platform__box
            div

              ul.platform__list
                li
                  div
                    p Target Value:
                    span 10 ETH
                li
                  div
                    p Remaining:
                    span 5 ETH
                li
                  div
                    p CURRENT VALUE:
                    span 5 ETH

            div

              img(src="img/img-platform.png" srcset="img/img-platform@2x.png" alt="")

              p.platform__box-name Pool #001

          .platform__table-wrapper
            p.platform__table-title Tally Candidates
            .platform__table
              div
                div
                  p!= "Charity <br>name"
                  span 8,965
              div
                div
                  p!= "Charity <br>name"
                  span 12,582
              div
                div
                  p!= "Charity <br>name"
                  span 3,327
              div
                div
                  p!= "Charity <br>name"
                  span!= "<i>8,965</i>"
              div
                div
                  p!= "Charity <br>name"
                  span 6,174

// SECTION :: END
